/*common*/
$padding: 10px 20px;
$theme-color: #41B883;
$default-color: #7C7C7C;
/*nav*/
$nav-border-bottom: 1px solid #DCDCDC;
$nav-item-border-bottom-size: 1px;

/*sub-nav*/
$sub-nav-bg-color: #fff;
$sub-nav-title-selected-color: #000;
/*sub-nav-popover*/
$popover-margin-top: 5px;
$popover-box-shadow:  0 0 3px fade_out(#ccc,0.4);
$popover-border: 1px solid #dcdcdc;
$popover-min-width: 8em;
$popover-border-radius: 5px;
$children-popover-margin-left: 8px;

/*sub-nav-popover-vertical-padding-left*/
$vertical-padding-left: 10px;