/*common*/
$padding: 10px 20px;
$theme-color: #41B883;

/*nav*/
$nav-border-bottom: 1px solid #DCDCDC;
$nav-item-border-bottom-size: 1px;

/*sub-nav*/
$sub-nav-bg-color: #fff;

/*sub-nav-popover*/
$popover-margin-top: 5px;
$popover-box-shadow:  0 0 3px fade_out(black,0.8);
$popover-border: 1px solid #dcdcdc;
$popover-min-width: 8em;
$children-popover-margin-left: 1px;
