.custom-block.details{
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 1em;
}

.theme-default-content pre code, .theme-default-content pre[class*="language-"] code{
    color: #000;
    font-size: 1em;
}